<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>afrid</title>
</head>
<body>
    <center>
        <h1>manadhantha vere prapancham.........</h1>
        <h1>meeru meeru mari..........</h1>
        <h1> antra maaki karmaaa!!!!</h1>
        <h1><a href="{% url 'vara' %}">vararesponse</a>
            <a href="{% url 'karthik' %}">karthikresponse</a>
            <a href="{% url 'specific:nagendra' %}">nagendraresponse</a></h1>
    </center>
</body>
</html>