<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>karthik</title>
</head>
<body>
    <center>
        <h1>this is karthik html page</h1>
        <h1> famous dailogue by mr karthik.....</h1>
        <h1> enti mari amaina undha......!!!!!!</h1>
        <h1><a href="{% url 'vara' %}">vararesponse</a>
        <a href="{% url 'specific:afrid' %}">afridresponse</a>
        <a href="{% url 'specific:nagendra' %}">nagendraresponse</a></h1>
    </center>
</body>
</html>