<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vara</title>
</head>
<body>
    <center><h1>
        antra nuv maaarava.......... enka
    </h1><h1> vellipoav ga vadhilesi........</h1>
    <h1><a href="{% url 'karthik' %}">karthikresponse</a>
        <a href="{% url 'specific:afrid' %}">afridresponse</a>
        <a href="{% url 'specific:nagendra' %}">nagendraresponse</a></h1></center>
</body>
</html>